# Furthermore, Rust types that are larger than 128 bytes are copied with memcpy
# rather than inline code. [...] Shrinking these types to 128 bytes or less can
# make the code faster by avoiding memcpy calls and reducing memory traffic.
#
# See https://nnethercote.github.io/perf-book/type-sizes.html
enum-variant-size-threshold = 128
# Some crates are still on syn 1.x
# The other seems related to the recent bump of geo, but `cargo tree -i` doesn't
# show the culprit so disabling for now.
allowed-duplicate-crates = ["syn", "hash32", "heapless", "rstar", "generic-array"]
